{% extends "blog/base.html" %}
{% load qr_code %}
{% block content %}
<style type="text/css">
.txtUpsideDown
{
	filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=2);  /* IE6,IE7 */
	ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)"; /* IE8 */
	-moz-transform: rotate(-180deg);  /* FF3.5+ */
	-o-transform: rotate(-180deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-180deg);  /* Safari 3.1+, Chrome */
	position: absolute;
}
</style>


<table>
	<!--
<tr>
  <td style="text-align: center; padding:0; margin:0; "> {% qr_from_text patenteqr size="L" %}</td>
</tr>
<tr>
  <td style="text-align: center"><h4 class="txtUpsideDown">____{{camiones.Patente}}_____</h4></td>
</tr>

-->
<tr>
  <td style="text-align: center; padding:0; margin:0;">{% qr_from_text infoqr size="M" %}</td>
</tr>
<tr>
    <td style="text-align: left; padding:0; margin:0;">Chofer: {{camiones.Chofer}}

    <br>

    Rut: {{camiones.Rut}}

    <br>

    Fono: {{camiones.Telefono}}

    <br>

    Empresa: {{camiones.Transportista}}</td>
</tr>

</table>
<br>
<h4><a href="{% url 'qr_despacho' %}">volver</a></h4>

{% endblock %}
