{% extends "blog/base.html" %}

{% block content %}

<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  width: 300px;
  margin: 4px 2px;
  cursor: pointer;
}

</style>




<h3>Control EFI BPT</h3>
<br>
<div class="jumbotron">

  <div class="container">

    <a href="{% url 'panel_movpallets_1' %}" class="button2">Entrada BPT</a>


    <a href="{% url 'panel_movpallets_2' %}" class="button2">Despachos BPT</a>


  </div>


<br>
<div class="container">

  <a href="{% url 'busqueda_pallet_bpt' %}"class="button2">Busqueda pallets</a>

  <a href="{% url 'qr_despacho' %}" class="button2">Datos transportistas</a>

</div>


</div>



<button class="button">Button</button>
<input type="button" class="button" value="Input Button">







{% endblock %}
