{% extends "blog/base.html" %}
{% block content %}


  <h1 class="posttitle">{{ordenprog.fecha_programa}}</h1>

<h3>Tabla JS:</h3>
<div class="row" id="parsed_csv_list">
</div>


<script type="text/javascript">

  //Primero saaco la información de la BD y la guardo como array en javascript
  //*El filtro de que sólo aparezcan los que pertenecen al programa o programa-1 ya se aplica desde Django
  //Fecha Ajust | Turno | Maquina | ID |  qIn | Anchoplaca | LargoPlaca | Cliente | Padrón | Prod Real | Avance prod real
  var InfoProd = new Array();
  InfoProd[0]=new Array(); //Fecha Ajust
  InfoProd[1]=new Array(); //Turno
  InfoProd[2]=new Array(); //MAquina
  InfoProd[3]=new Array(); //ID
  InfoProd[4]=new Array(); //qIn
  InfoProd[5]=new Array(); //Anchoplaca
  InfoProd[6]=new Array(); //LargoPlaca


{% for detalle in detalleprog %}

InfoProd[0].push("{{detalle.datefinajustada.isoformat}}");
InfoProd[1].push("{{detalle.turno}}");
InfoProd[2].push("{{detalle.workcenter}}");
InfoProd[3].push("{{detalle.orderId}}");
InfoProd[4].push(parseInt("{{detalle.qIn}}"));
InfoProd[5].push(parseFloat("{{detalle.anchoplaca}}"));
InfoProd[6].push(parseFloat("{{detalle.largoplaca}}"));

{% endfor %}

console.log(InfoProd);



displayHTMLTable("hola");

{% load staticfiles %}

function displayHTMLTable(results){

  var imagenok ='<img src= {% static "images/sign-check-icon.png" %} alt=""  height=18 width=18></img>'
  var imagennot = '<img src={% static "images/sign-delete-icon.png" %} alt="" height=18 width=18></img>'
  var imagenalert= '<img src={% static "images/alert_icon-3.jpg" %} alt="" height=15 width=15></img>'
  var imagenmed1 = '<img src={% static "images/check-icon.png" %}  alt="" height=17 width=17></img>'
  var imagenmed2 = '<img src={% static "images/ok-256.gif" %} alt="" height=18 width=18></img>'
  var imagenatrasa = '<img src={% static "images/25610.svg" %} alt="" height=15 width=10></img>'
  var imagenadelanta = '<img src={% static "images/25637.svg" %} alt="" height=15 width=10></img>'
  var img;

  var flag1;
  var realproducido;
  var realproducidototal;
  var strnamecliente;
  var strpadron;
  var m2;
  var m2prog;
  var unidsprog;
  var qin;
  var qprod;
  var qord;
  var uxg;

  var horini= moment.parseZone("{{ordenprog.horizonteini.isoformat|safe}}");
  var hormid = horini
  var horfin= moment.parseZone("{{ordenprog.horizontefin.isoformat|safe}}");


  console.log(hormid.format("YYYY-MM-DDTHH:mm:ssZ"))

  var table = "<table class='table' >";


    //Tom el hor ini y el hor fin y hace un loop para todos los días intermedios.


do {

  table+= "<tr>";
  table+= '<td colspan="7" style="text-align: center">';
  table+= '<h5 >' + hormid.format("DD-MM-YYYY") +'</h5>';

  m2prog=0;
  for(i=0;i<=InfoProd[0].length-1;i++)
  {

    if ( InfoProd[0][i] == hormid.format('YYYY-MM-DDTHH:mm:ssZ'))
    //if ("{{detalle.datefinajustada.isoformat}}" == hormid.format('YYYY-MM-DDTHH:mm:ssZ'))
      {


            m2prog=m2prog + (InfoProd[5][i]) * (InfoProd[6][i]) * (InfoProd[4][i]) ;


      }

  }

  table+= '<h5 > Total Programado: ' + m2prog.toLocaleString('es-ES',{maximumFractionDigits: 0 }) +' m2 </h5>';

  table+= '</td>';
  table+= '</tr>';

  table+= '<tr bgcolor="#dddddd">';
  table+= '<td>';
  table+= '<h3></h3>';
  table+= '</th>';

        {% for maquina in maquinas %};
            table+= '<td style="text-align: center">';
            table+= '<h4>{{maquina}}</h4>';

            m2prog=0;


              for(i=0;i<=InfoProd[0].length-1;i++)
              {

                if ( InfoProd[0][i] == hormid.format('YYYY-MM-DDTHH:mm:ssZ'))
                //if ("{{detalle.datefinajustada.isoformat}}" == hormid.format('YYYY-MM-DDTHH:mm:ssZ'))
                  {

                      if ( InfoProd[2][i]  == "{{maquina.maquina}}")
                      {


                        m2prog=m2prog + (InfoProd[5][i]) * (InfoProd[6][i]) * (InfoProd[4][i]) ;

                      }

                  }

              }



            table+= '<h6>' + m2prog.toLocaleString('es-ES',{maximumFractionDigits: 0 });
            table+= ' m2<h6>';
            //**Acá muestro el resumen del día.
            //table+= '</br>';
            table+= '</th>';
        {% endfor %};

  table+= '</tr>';



        {% for turno in turnos%}; //problema?

              table+=   '<tr>';
                table+=     '<td>';
                table+=     '<h4>{{turno.turno}}</h4>';
                table+=     '</td>';



                      {% for maquina in maquinas %};

                            table+=     '<td>';

                          //for(i=0;i<=InfoProd[0].length-1;i++){
                          {% for detalle in detalleprog %};//acá podemos poner un filtro para evitarse el segundo if


                            realproducido=0;
                            realproducidototal=0;
                            strnamecliente="";
                            strpadron="";
                            m2=0;
                            m2prog=0;
                            unidsprog=0;
                            qin=0;
                            qprod=0;
                            qord=0;
                            uxg=0;




                            //table+=           ' <h4>{{ detalle.datefinajustada.isoformat }}</h4>';

                            if ("{{detalle.datefinajustada.isoformat}}" == hormid.format('YYYY-MM-DDTHH:mm:ssZ'))
                                  {
                                    {% if detalle.workcenter == maquina.maquina %}
                                    {% if detalle.turno == turno.turno %}

                                    // Aquí agrego latabla resumen por orden
                                    table+=               '<table class="table" >';
                                    table+=               '<tr class="tr">';
                                    table+=               '<td style="font-size: 15px; padding: 15px 5px;"><a href="http://interlink.corrupac.cl/pagegenerator.dll/OrderStatusSearch?%21+SplitN+=isNULL%28O.SplitNumber%2C0%29%3D0&O.OrderID+like={{detalle.orderId}}&C.Name+like=%25&CustPO+like=&CustItemID+like=&O.specid+like=&isNull%28ActGrade%2COrgGrade%29+like=&G.flute+like=&SecondaryCustomerPO+like=&shipzone+like=&O.SalesCode+like=&duedatetime+%3E%3D=&duedatetime+%3C%3D=&LateProductionDateTime+%3E%3D=&LateProductionDateTime+%3C%3D=&BlankWidth+%3E%3D=&BlankWidth+%3C%3D=&BlankLength+%3E%3D=&BlankLength+%3C%3D=&OrderPriority=&%21+Status=O.TrackingStatus%3C%3D80&%21+Warehouse=&%21+Held=&order+by=O.trackingstatus+asc&%21+group=+">{{ detalle.orderId }}</a>'

                                    img=imagennot;
                                        flag1=0;
                                        {% for prod in prodreal%};
                                            if (flag1==0)
                                            {
                                                  {% if prod.orderId == detalle.orderId %};
                                                  {% if prod.datefinajustada == detalle.datefinajustada %};
                                                  {% if prod.turno == detalle.turno %};
                                                  flag1=1;
                                                  qprod={{prod.qProd}};
                                                  qord={{prod.qOrd}};

                                                  if(Math.floor(100*{{prod.qProd}}/{{prod.qOrd}})>=90){
                                                    img=imagenok;//coincide en fecha y turno
                                                  }
                                                  else{
                                                    img=imagenmed1;//coincide en fecha y turno
                                                  }



                                                  {% else %}//coincide en fecha y turno
                                                                 img=imagenalert;//coincide en fecha y turno
                                                  //table+=                 '<li><a href="#">Producido: {{prod.qProd}}</a></li>';
                                                  //table+=                 '<li><a href="#">C {{ detalle.completo_unidades}} </a></li>';
                                                  {% endif %};
                                                  {% else %}//coincide en fecha y turno
                                                                    img=imagenalert;//coincide en fecha y turno
                                                  {% endif %};
                                                  {% endif %};

                                            }

                                        {% endfor %};
                                        flag1=0;

                                      table+=                   img;//coincide en fecha y turno



                                      if (img==imagenalert){


                                            {% for prod in prodreal%};


                                                  {% if prod.orderId == detalle.orderId %};
                                                  flag1=1;

                                                  if( moment.parseZone('{{prod.datefinajustada.isoformat}}').isAfter(moment.parseZone('{{detalle.datefinajustada.isoformat}}')))
                                                  {
                                                    table+= imagenatrasa;
                                                  }else if (moment.parseZone('{{prod.datefinajustada.isoformat}}').isBefore(moment.parseZone('{{detalle.datefinajustada.isoformat}}'))) {
                                                    table+= imagenadelanta;
                                                  }else{

                                                    if('{{detalle.turno}}'=='A'){
                                                      if('{{prod.turno}}'=='A'){
                                                        //Nada pq es igual

                                                      }
                                                      if('{{prod.turno}}'=='B'){
                                                        //Nada pq es igual
                                                        //table+= "se atrasó!";
                                                        table+= imagenatrasa;

                                                      }
                                                      if('{{prod.turno}}'=='C'){
                                                        //Nada pq es igual
                                                        //table+= "se atrasó!";
                                                        table+= imagenatrasa;

                                                      }
                                                    }
                                                    if('{{detalle.turno}}'=='B'){
                                                      if('{{prod.turno}}'=='A'){
                                                        //table+= "se adelantó!";
                                                        table+= imagenadelanta;

                                                      }
                                                      if('{{prod.turno}}'=='B'){
                                                        //Nada pq es igual


                                                      }
                                                      if('{{prod.turno}}'=='C'){
                                                        //Nada pq es igual
                                                        //table+= "se atrasó!";
                                                        table+= imagenatrasa;

                                                      }
                                                    }
                                                    if('{{detalle.turno}}'=='C'){
                                                      if('{{prod.turno}}'=='A'){
                                                        //table+= "se adelantó!";
                                                        table+= imagenadelanta;

                                                      }
                                                      if('{{prod.turno}}'=='B'){
                                                        //table+= "se adelantó!";
                                                        table+= imagenadelanta;


                                                      }
                                                      if('{{prod.turno}}'=='C'){
                                                        //Nada pq es igual


                                                      }
                                                    }


                                                  }
                                                  {% endif %}


                                            {% endfor %}




                                      }
                              table+= '</br>';

                              //Calculo m2 total programado
                              m2prog=0;
                              m2prog= {{detalle.anchoplaca}} * {{detalle.largoplaca}} * {{detalle.qIn}};
                              table+= m2prog.toLocaleString('es-ES',{maximumFractionDigits: 0 }) + " m2";
                              table+=                    '<br/>';


                              realproducido=0;
                              realproducidototal=0;
                              table+=                  '<td colspan="1" style="font-size: 15px; padding: 15px 5px;">';
                                  flag1=0;
                                  {% for prod in prodreal%}; //aquí aplicar el filtro para que considere la última prodreal subida para cada ID
                                  if(flag1==0)
                                  {
                                        {% if prod.orderId == detalle.orderId %};
                                        flag1=1;
                                        realproducidototal=realproducidototal+{{prod.qProd}} ;
                                        table+=                   Math.floor(100*{{prod.qProd}}/{{prod.qOrd}});

                                        {% if prod.datefinajustada == detalle.datefinajustada %};
                                        {% if prod.turno == detalle.turno %};
                                        realproducido= realproducido+{{prod.qProd}} ;

                                        {% endif %};
                                        {% endif %};
                                        {% endif %};

                                  }

                                  {% endfor %};
                                  flag1=0;

                              table+= '%'+'</th>';
                            //table+=                  '<td colspan="1">'+{{prod.qProd}}+'</th>';


                            table+=                  '</tr>';


                            table+=                  '<tr>';
                            table+=                  '<td colspan="2" style="font-size: 12px">';
                            strnamecliente = '#';
                            strpadron = '#';
                            m2 = 0;


                                    {% for orderinfo in orderinfos%};
                                          {% if orderinfo.orderId == detalle.orderId %};
                                          strnamecliente = '{{orderinfo.cliente}}'.substring(0,15);
                                          strpadron = '{{orderinfo.padron}}'.substring(0,20);

                                            {% endif %};
                                    {% endfor %};



                            table+=                  strnamecliente;
                            table+=                  '</br>';
                            table+=                  strpadron;


                            table+=                  '</td>';
                            table+=                  '</tr>';



                        table+=               '</table>'; //fin de la tabla chica que tiene los detalles de una ID programada.



                        {% endif %};
                        table+=               '<!--<a href="#"> {{ detalle.datefinajustada }} </a>-->';
                        table+=            '</li>';
                        {% endif %};
                        }

                      //}
                        {% endfor %};
                        table+=       '</td>';
                  {% endfor %}
        {% endfor %};
table+=   '</tr>';
hormid=hormid.add(1,"d")
}while(hormid.isSameOrBefore(horfin))




    table+= "</tr>";

  table+= "</table>";
  $("#parsed_csv_list").html(table); //Descomentar esto para ver la tabla grande

}


</script>

{% endblock %}
