{% extends "blog/base.html" %}

{% block content %}
<h3>Movimiento Pallets BPT</h3>


<div class="container">

<table>

<tr>

<td>
<canvas id="myChart"  style="width:900px"></canvas>
</td>

<td>
  <table>


  <tr>
    <td style='font-size: 30px;'>Balance WIP</td>
    </tr>
    <tr>
      <td>
        <br>
      </td>

    </tr>
    <tr>
      <td>Corrugado/Conversión</td>
      </tr>
  <tr >
    <td  style='font-size: 50px;' id="ratiobalance">.</td>
  </tr>


  <tr>
    <td>In/Out grúas</td>
    </tr>
  <tr >
    <td  style='font-size: 50px;' id="ratiobalance2">.</td>
  </tr>

</table>
</td>

</tr>

</table>

</div>



<div class="container">

<canvas id="myChart2"  style="width:1000px"></canvas>

</div>




<div class="container">

<canvas id="myChart3"  style="width:1000px"></canvas>

</div>



<div class="container">

<canvas id="myChart4"  style="width:1000px"></canvas>

</div>



<div class="container">

<canvas id="myChart5"  style="width:1000px"></canvas>

</div>







<script type="text/javascript">






var endpoint='/api/get_data_movpallets/';



function datosinv(){

  console.log("iniciando ajax datos inv");
  var myTable = document.getElementById('myTable');

  $.ajax({
      method: "GET",
      url: endpoint,
      success: function(response_data){

      //datos0 = response_data.datos0; //aCÁ RECIBO UN ARRAY DE DATOS
      labels = response_data.labels;
      labels2 = response_data.labels2;


      //console.log(datos0["M2ZFFG1"].toFixed(2))

      //console.log(prueba['prueba1'][1])
      //console.log(prueba['prueba2']['B'])
      //console.log(m2total)
      //console.log(npalletstotal)
      console.log(labels)

      var ratio = document.getElementById("ratiobalance");//.getElementsByTagName("td");
      var ratio2 = document.getElementById("ratiobalance2");//
      //Aquí calculo el ratio ratiobalance

      sumconv=0
      sumcorr=0
      aux=0
      aux1=0

      diastrabajados=0

      for (var i = 0; i < labels.length; i++)
          {

            if (labels[i]["m2Conv"]!=0 && labels[i]["m2Corr"]!=0 )
            {
              diastrabajados+=1
            }

          }

      for (var i = 0; i < labels.length; i++)
          {
            aux1=0

          if (labels[i]["m2Conv"]!=0)///(labels.length);
            {
              aux1=(labels[i]["m2Corr"]/labels[i]["m2Conv"])-1
              if (aux1>0)
              {

                aux+=(1-aux1)/diastrabajados

              }
              else
              {
                aux+=(labels[i]["m2Corr"]/labels[i]["m2Conv"])/diastrabajados
              }
            }

          }


      ratio.innerHTML= String((aux*100).toFixed(1))+"%"


      ///////////

      sumconv=0
      sumcorr=0
      aux=0
      aux1=0

      diastrabajados=0

      for (var i = 0; i < labels.length; i++)
          {

            if (labels[i]["m2In"]!=0 && labels[i]["m2Out"]!=0 )
            {
              diastrabajados+=1
            }

          }

      for (var i = 0; i < labels.length; i++)
          {
            aux1=0

          if (labels[i]["m2Out"]!=0)///(labels.length);
            {
              aux1=(labels[i]["m2In"]/labels[i]["m2Out"])-1
              if (aux1>0)
              {

                aux+=(1-aux1)/diastrabajados

              }
              else
              {
                aux+=(labels[i]["m2In"]/labels[i]["m2Out"])/diastrabajados
              }
            }

          }


      ratio2.innerHTML= String((aux*100).toFixed(1))+"%"




      setChart1();
      setChart2();
      setChart3();
      setChart4();
      setChart5();



      },
      error: function(error_data){
        console.log("error");
        console.log(error_data);
      }

    })
    //displayTabla();

}



/// PAra transformar los cambios en modo texto a un array y generar un form por cada línea.

datosinv()

window.setInterval(function(){
  console.log("hola");
  //datosinv();
}, 60000);



function setChart1(){

  //generando list de labels
  labelx=[]
  m2Inx=[]
  m2Outx=[]
  m2Prodx=[]
  m2Convx=[]
  m2Corrx=[]

  for (var i = 0; i < labels.length; i++)
      {
        labelx.push(labels[i]["label"]);

        m2Inx.push((labels[i]["m2In"]/1000).toFixed(1));
        m2Outx.push((labels[i]["m2Out"]/-1000).toFixed(1));
        m2Prodx.push((labels[i]["m2Prod"]/1000).toFixed(1));
        m2Convx.push((labels[i]["m2Conv"]/-1000).toFixed(1));
        m2Corrx.push((labels[i]["m2Corr"]/1000).toFixed(1));
      }

  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
            labels: labelx,
            datasets: [
/*
            {

            label: "Mm2 Corrugados",
            data: m2Corrx,
            borderColor: "rgba(100,100,150)",
            backgroundColor: "rgba(100,100,150)",
            stack: 'stack 0',
            borderWidth: 0,


            },

            {

            label: "Mm2 Convertidos",
            data: m2Convx,
            borderColor: "rgba(100,100,150)",
            backgroundColor: "rgba(100,100,150)",
            stack: 'stack 0',
            borderWidth: 0,


            },



              {

              label: "Mm2 Producidos sin ingreso",
              data: m2Prodx,
              borderColor: "rgba(100,42,155)",
              backgroundColor: "rgba(100,42,155)",
              stack: 'stack 1',
              borderWidth: 0,


          },
          */

          {

                  label: "Mm2 Ingreso a bodega BPT",
                  data: m2Inx,
                  borderColor: "rgba(0,42,255)",
                  backgroundColor: "rgba(0,42,255)",
                  stack: 'stack 1',
                  borderWidth: 0,


            },
            {
              label: "Mm2 Salida de bodega BPT",
              data: m2Outx,
              borderColor: "rgba(0,200,155)",
              backgroundColor: "rgba(0,200,155)",
              stack: 'stack 1',
              borderWidth: 0,


          }]
      },
      options: {
          title:{
            display:true,
            responsive:true,
            hoverMode:true,
            text:"Movimiento Pallets"
          },
          tooltips: {
    mode: 'label',

},
          scales: {
              xAxes: [{ stacked: true,
                barPercentage: 0.95,
                categoryPercentage: 0.5,
               }],
              yAxes: [{stacked: true,
                      barPercentage: 1.0,
                      categoryPercentage: 1.0,
                  ticks: {
                      autoSkip: false,
                      beginAtZero:true


                  }
              }]
          }
      }
  });

}



////////////////

function setChart2(){

  //generando list de labels
  labelx=[]
  movsaBPT=[]



  for (var i = 0; i < labels2.length; i++)
      {
        labelx.push(labels2[i]["label"]);

        movsaBPT.push((labels2[i]["movsaBPT"]).toFixed(1));

      }

  var ctx = document.getElementById("myChart2").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
            labels: labelx,
            datasets: [

            {

            label: "Movimientos Entrada a BPT",
            data: movsaBPT,
            borderColor: "rgba(100,100,150)",
            backgroundColor: "rgba(100,100,150)",
            stack: 'stack 0',
            borderWidth: 0,


            }]
      },
      options: {
          title:{
            display:true,
            responsive:true,
            hoverMode:true,
            text:"Movimiento Pallets"
          },
          tooltips: {
    mode: 'label',

},
          scales: {
              xAxes: [{ stacked: true,
                barPercentage: 0.95,
                categoryPercentage: 0.5,
               }],
              yAxes: [{stacked: true,
                      barPercentage: 1.0,
                      categoryPercentage: 1.0,
                  ticks: {
                      autoSkip: false,
                      beginAtZero:true,
                      suggestedMin: 0,
                      suggestedMax: 10
                  }
              }]
          }
      }
  });

}

///////////////

function setChart3(){

  //generando list de labels
  labelx=[]
  movsandenes=[]



  for (var i = 0; i < labels2.length; i++)
      {
        labelx.push(labels2[i]["label"]);

        movsandenes.push((labels2[i]["movsandenes"]).toFixed(1));

      }

  var ctx = document.getElementById("myChart3").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
            labels: labelx,
            datasets: [

            {

            label: "Movimientos carga a andén",
            data: movsandenes,
            borderColor: "rgba(100,100,150)",
            backgroundColor: "rgba(100,100,150)",
            stack: 'stack 0',
            borderWidth: 0,


            }]
      },
      options: {
          title:{
            display:true,
            responsive:true,
            hoverMode:true,
            text:"Movimiento Pallets"
          },
          tooltips: {
    mode: 'label',

},
          scales: {
              xAxes: [{ stacked: true,
                barPercentage: 0.95,
                categoryPercentage: 0.5,
               }],
              yAxes: [{stacked: true,
                      barPercentage: 1.0,
                      categoryPercentage: 1.0,
                  ticks: {
                      autoSkip: false,
                      beginAtZero:true,
                      suggestedMin: 0,
                      suggestedMax: 10
                  }
              }]
          }
      }
  });

}


////////////////////////

function setChart4(){

  //generando list de labels
  labelx=[]
  movsconv1=[]



  for (var i = 0; i < labels2.length; i++)
      {
        labelx.push(labels2[i]["label"]);

        movsconv1.push((labels2[i]["movsconv1"]).toFixed(1));

      }

  var ctx = document.getElementById("myChart4").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
            labels: labelx,
            datasets: [

            {

            label: "Movimientos entrada a Conversión (TCY, HCR, WRD)",
            data: movsconv1,
            borderColor: "rgba(100,100,150)",
            backgroundColor: "rgba(100,100,150)",
            stack: 'stack 0',
            borderWidth: 0,


            }]
      },
      options: {
          title:{
            display:true,
            responsive:true,
            hoverMode:true,
            text:"Movimiento Pallets"
          },
          tooltips: {
    mode: 'label',

},
          scales: {
              xAxes: [{ stacked: true,
                barPercentage: 0.95,
                categoryPercentage: 0.5,
               }],
              yAxes: [{stacked: true,
                      barPercentage: 1.0,
                      categoryPercentage: 1.0,
                  ticks: {
                      autoSkip: false,
                      beginAtZero:true,
                      suggestedMin: 0,
                      suggestedMax: 10
                  }
              }]
          }
      }
  });

}






/////////////////////////////////////////


function setChart5(){

  //generando list de labels
  labelx=[]
  movsconv2=[]



  for (var i = 0; i < labels2.length; i++)
      {
        labelx.push(labels2[i]["label"]);

        movsconv2.push((labels2[i]["movsconv2"]).toFixed(1));

      }

  var ctx = document.getElementById("myChart5").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
            labels: labelx,
            datasets: [

            {

            label: "Movimientos entrada a Conversión (FFW, DRO, FFG)",
            data: movsconv2,
            borderColor: "rgba(100,100,150)",
            backgroundColor: "rgba(100,100,150)",
            stack: 'stack 0',
            borderWidth: 0,


            }]
      },
      options: {
          title:{
            display:true,
            responsive:true,
            hoverMode:true,
            text:"Movimiento Pallets"
          },
          tooltips: {
    mode: 'label',

},
          scales: {
              xAxes: [{ stacked: true,
                barPercentage: 0.95,
                categoryPercentage: 0.5,
               }],
              yAxes: [{stacked: true,
                      barPercentage: 1.0,
                      categoryPercentage: 1.0,
                  ticks: {
                      autoSkip: false,
                      beginAtZero:true,
                      suggestedMin: 0,
                      suggestedMax: 10
                  }
              }]
          }
      }
  });

}





</script>

{% endblock %}
