

{% block content %}

{% if user.is_authenticated %}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">




<h3>Prototipo herramienta minuta online</h3>


<div class="container">

<h1>Bootstrap textarea demo</h1>






<div class="row">
    <div class="col-md-3">
      <div class="input-group-prepend ">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"></div>

    <div class="col-md-3">

      <div class="input-group-prepend">
        <span class="input-group-text">Cargo</span>
        <input class="form-control" aria-label="With textarea"></input>

     </div>

   </div>

  <div class="col-md-3">
      <div class="input-group-prepend">
      <span class="input-group-text">Correo</span>
        <input class="form-control" aria-label="With textarea"></input>
    </div>
  </div>


  <div class="col-md-3">
      <div class="input-group-prepend">
      <span class="input-group-text">Prente</span>
      <select class="form-control">
            <option>Asiste</option>
            <option>Ausente</option>
            </select>
    </div>
  </div>


</div>
<div class="row">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6">.col-md-6</div>
</div>




</div>


<div class="form-group">






</div>


</div>


{% endif %}

{% endblock %}
