{% extends "blog/base.html" %}

{% block content %}

{% if user.is_staff %}
<head>




 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>

<h3>Prototipo herramienta minuta online</h3>







<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#pest1">Reunión</a></li>
  <li><a data-toggle="tab" href="#pest2"> Resumen </a></li>
</ul>





    <div class="tab-content">


            <div id="pest1" class="tab-pane fade in active" >



            <div class="container">
              <br>

              <div class="row">
                <div class="col-md-2 ">
                    <ul class="nav nav-pills flex-column" >
                        <li class="nav-item active in ">
                          <a class="nav-link" id="home-tab" data-toggle="tab" href="#asistentes">Asistentes</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#discus">Discusión</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#acuerdos">Acuerdos/Aprendizajes</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#tareas">Tareas</a>
                        </li>
                  </ul>
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-10">
                    <div class="tab-content" id="myTabContent">


                            <div class="tab-pane fade in active" id="asistentes">
                            <div class="container">




                              <div id="app2">




                                <ul v-for="(input, index) in inputs">

                                  <div class="container">

                                        <div class="input-group-prepend col-md-2">
                                          <span class="input-group-text">@</span>
                                          <input v-model="input.nombre" class="form-control" aria-label="With textarea"></input>
                                        </div>

                                      <div class="col-md-2">

                                          <div class="input-group-prepend">
                                            <span class="input-group-text">Cargo</span>
                                            <input v-model="input.cargo" class="form-control" aria-label="With textarea"></input> [[input.cargo]]
                                          </div>

                                       </div>

                                      <div class="col-md-2">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">Correo</span>
                                            <input v-model="input.correo" class="form-control" aria-label="With textarea"></input>
                                        </div>
                                      </div>
                                      <div class="col-md-2">
                                          <div class="input-group-prepend">
                                          <span class="input-group-text">Presente</span>
                                          <select v-model="input.asiste" class="form-control">
                                                <option>Asiste</option>
                                                <option>Ausente</option>
                                          </select>
                                          </div>
                                      </div>
                                      <div class="col-md-4">
                                        <button class="btn btn-info pull-left" @click="deleteRow(index)">Delete</button>
                                      </div>
                                      </div>
                                </ul>
                              <br>
                              <button @click="addRow">Add row</button >
                            </div>

                        </div>
                            </div>
                            <div class="tab-pane fade" id="discus">

                              <div id="appTemas">
                                <label for="exampleFormControlTextarea6"><h3>Temas tratados</h3></label>

                                <div class="container">




                                  <ul v-for="(input, index) in inputs">

                                  <div class="form-group shadow-textarea">


                                    <div class="col-md-8">
                                    <textarea class="form-control z-depth-1" v-model="input.texto" id="exampleFormControlTextarea6" rows="3" placeholder="Nuevo tema en discusión...">[[input.texto]]</textarea>
                                    </div>
                                    <br>
                                    <div class="col-md-2">
                                      <button class="btn btn-info pull-left" @click="deleteRow(index)">Delete</button>
                                    </div>


                                    <br>
                                  </div>
                                  <br>



                                </ul>


                                </div>
                                <br>
                                <button @click="addRow">Add row</button >

                                </div>
                            </div>

                            <div class="tab-pane fade" id="acuerdos">

                              <div id="appAcuerdos">
                                  <div class="container">
                                        <label for="exampleFormControlTextarea6"><h3>Acuerdos/Aprendizajes</h3></label>

                                        <ul v-for="(input, index) in inputs">

                                                <div class="form-group shadow-textarea">
                                                  <div class="col-md-8">
                                                  <textarea class="form-control z-depth-1" v-model="input.texto" id="exampleFormControlTextarea6" rows="3" placeholder="Nuevo acuerdo o aprendizaje...">[[input.texto]]</textarea>
                                                  </div>
                                                  <br>
                                                  <div class="col-md-2">
                                                    <button class="btn btn-info pull-left" @click="deleteRow(index)">Delete</button>
                                                  </div>
                                                  <br>
                                                </div>
                                                <br>
                                        </ul>
                                  </div>
                                  <br>
                                  <button @click="addRow">Add row</button >
                               </div>
                              </div>



                            <div class="tab-pane fade" id="tareas">
                            <h2>Tareas</h2>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem blanditiis voluptates vel ipsam? Facilis, earum!</p>
                            </div>
                    </div>
                </div>
                <!-- /.col-md-8 -->
              </div>



            </div>

            </div>



        <div id="pest2" class="tab-pane fade">

          <div class="container">

              <div id="app3">
                <h2>Resumen de la reunión</h2>
                <h4>Asistentes</h4>
                <ul v-for="(input, index) in inputsapp2">
                    [[input.nombre]]    [[input.asiste]]

                </ul>

                <h4>Temas tratados</h4>
                <ul v-for="(input, index) in inputsappTemas">
                    [[input.texto]]
                </ul>

                <h4>Acuerdos/Aprendizajes</h4>
                <ul v-for="(input, index) in inputsappAcuerdos">
                    [[input.texto]]
                </ul>

              </div>

          </div>

        </div>



      </div>







<!------------------------------>

<!-- /.container -->
<!------------------------------>










<script type="text/javascript">

  var people = {{ items_json|safe }}; //Render our JSON data as JavaScript (Esta data la paso de Django a VUE como Json)

</script>


<script> // Configuración del VUE.JS

  const app2 = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app2',
    data: {
      inputs: []
          },
    methods: {
      addRow() {
        console.log('presionaste botón');
        this.inputs.push({
          one: '',
          two: '',
          nombre:'',
          cargo:'',
          correo:'',
          asiste:''
        })
      },
      deleteRow(index) {
        this.inputs.splice(index,1)
      }
    },

  })

//////////////////////
const appTemas = new Vue({
  delimiters: ['[[', ']]'],
  el: '#appTemas',
  data: {
    inputs: []
        },
  methods: {
    addRow() {
      console.log('presionaste botón');
      this.inputs.push({
        texto: ''
      })
    },
    deleteRow(index) {
      this.inputs.splice(index,1)
    }
  },

})
////////////////
const appAcuerdos = new Vue({
  delimiters: ['[[', ']]'],
  el: '#appAcuerdos',
  data: {
    inputs: []
        },
  methods: {
    addRow() {
      console.log('presionaste botón');
      this.inputs.push({
        texto: ''
      })
    },
    deleteRow(index) {
      this.inputs.splice(index,1)
    }
  },

})
////////////////

app2.addRow()
appTemas.addRow()
appAcuerdos.addRow()

const app3 = new Vue({

    delimiters: ['[[', ']]'],
    el: '#app3',
    data: {
      inputsappTemas: [],
      inputsapp2: [],
      inputsappAcuerdos: []
          },

    methods: {}

  })


  setTimeout(function() {
	app3.inputsapp2 = app2.inputs;
  app3.inputsappTemas= appTemas.inputs;
  app3.inputsappAcuerdos= appAcuerdos.inputs;

}, 2000);
</script>




{% endif %}

{% endblock %}
