{% extends "blog/base.html" %}

<script>
{% block jquery %}

var endpoint='/api/data_inicio/';//La alternativa es usar el {% url "api-data"  %}
var customersDjango = parseInt("{{ customers }}");
var defaultData = [];
var labels = [];
//Agregar botón para actualizar
$("#actualiza").click(function()
{console.log(customersDjango);
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(response_data){
      labels = response_data.labelDias;
      defaultData = response_data.Producciones;
      M2Flexo = response_data.M2Flexo;
      M2RDC = response_data.M2RDC;
      M2ProgFlexo = response_data.M2ProgFlexo;
      M2ProgRDC = response_data.M2ProgRDC;
      console.log(response_data);
      console.log(response_data.customers * 331);
      setChart();

    },
    error: function(error_data){
      console.log("error");
      console.log(error_data);
    }

})
console.log("actualizado");
});


function setChart(){

  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Mm2 RDC',
              data: M2RDC,
                backgroundColor: "rgba(10,70,190,0.5)",
              //[
                  //'rgba(255, 99, 132, 0.2)',
                  //'rgba(54, 162, 235, 0.2)',
                  //'rgba(255, 206, 86, 0.2)',
                  //'rgba(75, 192, 192, 0.2)',
                  //'rgba(153, 102, 255, 0.2)',
                  //'rgba(255, 159, 64, 0.2)'
              //],
              //borderColor:
              // [
                  //'rgba(255,99,132,1)',
                  //'rgba(54, 162, 235, 1)',
                  //'rgba(255, 206, 86, 1)',
                  //'rgba(75, 192, 192, 1)',
                  //'rgba(153, 102, 255, 1)',
                  //'rgba(255, 159, 64, 1)'
              //],
              borderWidth: 0
          },{

            label: 'Mm2 Flexo',
            data: M2Flexo,
            backgroundColor:
                "rgba(82,154,190,0.5)",
              borderWidth: 0

          },{

            label: 'Programado RDC',
            data: M2ProgRDC,
            backgroundColor:
                "rgba(200,150,50,0.5)",
              borderWidth: 0

          },{

            label: 'Programado Flexo',
            data: M2ProgFlexo,
            backgroundColor:
                "rgba(200,200,50,0.5)",
              borderWidth: 0

          }]
      },
      options: {
          title:{
            display:true,
            text:"Gráfico producciones pasadas-programadas"
          },
          tooltips: {
    mode: 'label',
    callbacks: {
        label: function(tooltipItem, data) {
            var corporation = data.datasets[tooltipItem.datasetIndex].label;
            var valor = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            var total = 0;
            for (var i = 0; i < data.datasets.length; i++)
                total += data.datasets[i].data[tooltipItem.index];
            if (tooltipItem.datasetIndex != data.datasets.length - 1) {
                return ["Total : " + total ,corporation + " : " + valor.toFixed(0).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')];
            } else {
                return [ corporation + " : " + valor.toFixed(0).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')];
            }
        }
    }
},
          scales: {
              xAxes: [{ stacked: true }],
              yAxes: [{stacked: true,
                  ticks: {
                      autoSkip: false,
                      beginAtZero:true
                  }
              }]
          }
      }
  });

}



{% endblock %}
</script>

{% block content %}
<div class="container">
<h4>Welcome</h4>
<button type="button" id="actualiza">Actualiza</button>


<canvas id="myChart" width="800" height="400"></canvas>


</div>



{% endblock content %}
