{% extends "blog/base.html" %}

{% block content %}
<h3>Control EFI extendido</h3>


<h5>Inventario WIP</h5>
<h6> <a class="link" href="{% url 'placas_wip' %}">control lìmite stock 24h </a></h6>
<h5>Inventario BPT</h5>

<h5>Proyecciòn producciòn y consumos</h5>
<h6>Òrdenes puestas</h6>
<h6>avance proyecciòn</h6>



<h4>Inventario cíclico por calle</h4>
<button type="button" id="actualiza">Actualiza</button>
<a href="{% url 'invsimple' %}">Toma Inventario</a>
<a href="{% url 'carga_inventario' %}">Carga inventario</a>



{% endblock %}
