{% extends "blog/base.html" %}

{% block content %}
<h3>Panel WIP</h3>


<table>
  <tr>
    <td></td>
    <td>Mm2</td>
    <td></td>
    <td>n° pallets</td>
  </tr>
  <tr>
    <td>Bodega</td>
    <td id="m2"></td>
    <td></td>
    <td id="npal"></td>
   </tr>
   <tr>
     <td>Stackers</td>
     <td id="m2CORR"></td>
     <td></td>
     <td id="npalCORR"></td>

   </tr>
</table>



<div class="container" >


  <div class="table-responsive">

        <div class="row"   id="parsed_csv_list">
        </div>
  </div>


<br><br>

<table class='table table-hover' style='font-size: 12px;' id='tabla2'>

<tr>
  <td colspan="8" style="text-align: center; font-weight:bold">Inventario según máquina programada</td>

  <td></td>

    <td></td>
    <td></td>


</tr>

<tr>
  <td style="text-align: center">TCY</td>
  <td style="text-align: center">HCR</td>
  <td style="text-align: center">WRD</td>
  <td style="text-align: center">FFW</td>
  <td style="text-align: center">DRO</td>
  <td style="text-align: center">FFG</td>
  <td style="text-align: center">DIM/TAB</td>
  <td style="text-align: center">Sin Programa</td>
</tr>



</table>

</div>

<button type="button" id="convert">Convert</button>




<script type="text/javascript">

{% block jquery %}



var endpoint='/api/get_data_inventario/';


{% load staticfiles %}

function datosinv(){

  console.log("iniciando ajax datos inv");
  var myTable = document.getElementById('myTable');

  var imagentime ='<img src= {% static "images/time.png" %} alt=""  height=15 width=15></img>'
  var auxtext = ''

  $.ajax({
      method: "GET",
      url: endpoint,
      success: function(response_data){

      //datos0 = response_data.datos0; //aCÁ RECIBO UN ARRAY DE DATOS
      datosWIP = response_data.datosWIP;
      prueba = response_data.prueba;
      m2totalINV= response_data.m2totalINV;
      npalletstotalINV= response_data.npalletstotalINV;
      m2totalCORR= response_data.m2totalCORR;
      npalletstotalCORR= response_data.npalletstotalCORR;
      //filtroentrada= response_data.filtroentrada; //este es list of lists
      //filtrosalida= response_data.filtrosalida; //este es list of lists
      //filtroprod= response_data.filtroprod; //este es list of lists

      //console.log(datos0["M2ZFFG1"].toFixed(2))

      //console.log(prueba['prueba1'][1])
      //console.log(prueba['prueba2']['B'])
      //console.log(m2total)
      //console.log(npalletstotal)
      //console.log(filtroentrada)


      var myTable = document.getElementById("table");//.getElementsByTagName("td");
      var m2 = document.getElementById("m2");//.getElementsByTagName("td");
      var npal = document.getElementById("npal");//.getElementsByTagName("td");

      var m2CORR = document.getElementById("m2CORR");//.getElementsByTagName("td");
      var npalCORR = document.getElementById("npalCORR");//.getElementsByTagName("td");

      var tabla2 = document.getElementById("tabla2");//.getElementsByTagName("td");

      for (var i=0; i < cuadros.length; i++)
      {

      if (datosWIP[cuadros[i][2]]['dias']>2)
      {
        auxtext='</br> ' + imagentime;

      }  else{
        auxtext='</br>'
      }
      //myTable.rows[cuadros[i][1]].cells[cuadros[i][0]].innerHTML = '<a href="{% url "ubicpallet_detail" pk=1 %}" >' + cuadros[i][2] + '</a>' + "</br>" + "</br>" + (datosWIP[cuadros[i][2]]['m2tot']/1000).toFixed(1)+ "Mm2" + "</br>" + datosWIP[cuadros[i][2]]['cuenta']+ " pll" ;
      myTable.rows[cuadros[i][1]].cells[cuadros[i][0]].innerHTML = '<a href="/ubicpallet_detail/'+ datosWIP[cuadros[i][2]]['indice'] +'" style="color:black">'  + cuadros[i][2]  +  auxtext + "</br>" + (datosWIP[cuadros[i][2]]['m2tot']/1000).toFixed(1)+ "Mm2" + "</br>" + datosWIP[cuadros[i][2]]['cuenta']+ " pll" + '</a>' ;

      }//myTable.rows[cuadros[1][1]].cells[cuadros[0][1]].innerHTML = cuadros[1][2] + "</br>" + str(zffg2) ;

      m2.innerHTML= String((m2totalINV/1000).toFixed(1))
      npal.innerHTML=String(npalletstotalINV)

      m2CORR.innerHTML=String((m2totalCORR/1000).toFixed(1))
      npalCORR.innerHTML= String(npalletstotalCORR)

      /*
      for (var i=0; i < filtroentrada.length; i++)
      {
      tabla2.rows[2+i].cells[0].innerHTML=filtroprod[i][0]
      tabla2.rows[2+i].cells[1].innerHTML=filtroprod[i][1].substring(0,7)
      tabla2.rows[2+i].cells[2].innerHTML=filtroprod[i][2].substring(0,7)
      tabla2.rows[2+i].cells[3].innerHTML=filtroprod[i][3]
      }


      for (var i=0; i < filtroentrada.length; i++)
      {
      tabla2.rows[2+i].cells[7].innerHTML=filtroentrada[i][0]
      tabla2.rows[2+i].cells[8].innerHTML=filtroentrada[i][1].substring(0,7)
      tabla2.rows[2+i].cells[9].innerHTML=filtroentrada[i][2].substring(0,7)
      tabla2.rows[2+i].cells[10].innerHTML=filtroentrada[i][3]
      }

      for (var i=0; i < filtrosalida.length; i++)
      {
      tabla2.rows[2+i].cells[14+0].innerHTML=filtrosalida[i][0]
      tabla2.rows[2+i].cells[14+1].innerHTML=filtrosalida[i][1].substring(0,7)
      tabla2.rows[2+i].cells[14+2].innerHTML=filtrosalida[i][2].substring(0,7)
      tabla2.rows[2+i].cells[14+3].innerHTML=filtrosalida[i][3]
      }
      */





      //myTable.rows[1].cells[1].innerHTML = datos0["M2FFG"].toFixed(2)//datos0[0][2].toFixed(1);//FFG
      //myTable.rows[1].cells[2].innerHTML = datos0["M2FFW"].toFixed(2)//datos0[2][2].toFixed(1);//FFW

      //myTable.rows[1].cells[9].innerHTML = totales[1].toFixed(1);//Total

      //función llenar tabla (colores, traducir a turnos de carga seg+un promedio de m2 por turno de cada máquina)

      //setChart();Acá es donde se crearía el gráfico
      updatecuadros(datosWIP);

      },
      error: function(error_data){
        console.log("error");
        console.log(error_data);
      }

    })



    //displayTabla();

}



var cuadros= [];




/// PAra transformar los cambios en modo texto a un array y generar un form por cada línea.

displayHTMLTable();
datosinv()


window.setInterval(function(){
  console.log("hola");
  datosinv();


}, 3000);


$("#convert").click(function()
{

//updatecuadros();
datosinv()
//displayHTMLTable();

});

////// Función que muestra el input paresado

function displayHTMLTable(){
  var table = "<table  class='table1'  id='table' >";

    var rows = 15;
    var columns = 54;

    ///
    table+= "<tr  style='text-align: center'>";
      for(j=0;j<columns-1;j++){
        table+= "<td style='font-size: 10px;'  >";
        //table+= ".";
        table+= "</th>";
        }
    table+= "</tr>";
    ///

    table+= "<tr style='text-align: center'>";
    for(j=1;j<columns-22;j++){
      table+= "<td style='font-size: 10px;'>";
      //table+= ".";
      table+= "</th>";
      }
    table+= "</tr>";
    ///


    for(i=2;i<8;i++){
      table+= "<tr style='text-align: center'>";
        for(j=0;j<columns-1-31;j++){
          table+= "<td style='font-size: 10px;'>";
          //table+= ".";
          table+= "</th>";
        }
      table+= "</tr>";
    }



    for(i=8;i<rows-1;i++){
      table+= "<tr style='text-align: center'>";
        for(j=0;j<columns-1-12;j++){
          table+= "<td style='font-size: 10px; '>";
          //table+= ".";
          table+= "</th>";
        }
      table+= "</tr>";
    }





  table+= "</table>";
  $("#parsed_csv_list").html(table); //Descomentar esto para ver la tabla grande



  //cambiando color de la table:
  creacuadro(2,6,"ZTCY2",3,5);
  creacuadro(3,6,"ZTCY1",3,5);
  creacuadro(4,6,"ZHCR2",3,5);
  creacuadro(5,6,"ZHCR1",3,5);
  creacuadro(14,1,"ZSOB2",3,5);
  creacuadro(15,1,"ZWRD2",3,5);
  creacuadro(16,1,"ZWRD1",3,5);
  creacuadro(18,1,"ZSOB1",3,5);
  creacuadro(19,1,"ZFFW2",3,5);
  creacuadro(20,1,"ZFFW1",3,5);
  creacuadro(21,1,"ZDRO2",3,5);
  creacuadro(22,1,"ZDRO1",3,5);
  creacuadro(23,1,"ZFFG2",3,5);
  creacuadro(24,1,"ZFFG1",3,5);
  creacuadro(50,0,"CORR_UPPER_Stacker",2,5);
  creacuadro(51,0,"CORR_LOWER_Stacker",2,5);
  creacuadro(5,10,"ZPNC",3,4);
  creacuadro(38,10,"ZPICADO",3,3);

}

function creacuadro(x,y,texto,a,l){

  var myTable = document.getElementById("table");//.getElementsByTagName("td");
  myTable.rows[y].cells[x].innerHTML = '<a href="{% url "ubicpallet_detail" pk=1 %}" >' + texto + '</a>' + "</br>" + "%";
  myTable.rows[y].cells[x].style.backgroundColor = "yellow"

  myTable.rows[y].cells[x].colSpan = parseInt(a);
  myTable.rows[y].cells[x].rowSpan = parseInt(l);

  cuadros.push([x,y,texto]);

}



function updatecuadros(datosWIP){

  for (var i=0; i < cuadros.length; i++)
  {

    var random = Math.floor((Math.random() * 100) + 1);

    var myTable = document.getElementById("table");//.getElementsByTagName("td");
    //myTable.rows[cuadros[i][1]].cells[cuadros[i][0]].innerHTML = cuadros[i][2] + "</br>" + random.toString() + "%";
    //myTable.rows[cuadros[i][1]].cells[cuadros[i][0]].style.backgroundColor = "green"//"yellow";

    if (datosWIP[cuadros[i][2]]['m2tot']/1000<=30)
    {myTable.rows[cuadros[i][1]].cells[cuadros[i][0]].style.backgroundColor = "Chartreuse"}

    if (datosWIP[cuadros[i][2]]['m2tot']/1000>30 && datosWIP[cuadros[i][2]]['m2tot']/1000<55)
    {myTable.rows[cuadros[i][1]].cells[cuadros[i][0]].style.backgroundColor = "yellow"}

    if (datosWIP[cuadros[i][2]]['m2tot']/1000>=55)
    {myTable.rows[cuadros[i][1]].cells[cuadros[i][0]].style.backgroundColor = "Crimson"}


    /*
    var myTable = document.getElementById("table");//.getElementsByTagName("td");
    myTable.rows[y].cells[x].innerHTML = texto + "</br>" + "%";
    myTable.rows[y].cells[x].style.backgroundColor = "green"//"yellow";
    myTable.rows[y].cells[x].colSpan = parseInt(a);
    myTable.rows[y].cells[x].rowSpan = parseInt(l);
    */
  }

}

{% endblock %}
</script>

{% endblock %}
