{% extends "blog/base.html" %}

{% block content %}
<br>
<br>
<h3>Seguimiento Corrugado</h3>


<div class="container">

<table>

<tr>

<td>
<canvas id="myChart"  style="width:900px"></canvas>
</td>

<td>
  <table>


  <tr>
    <td style='font-size: 30px;'>Indicador 7 días</td>
    </tr>
    <tr>
      <td>

      </td>

    </tr>
    <tr>
      <td>Corrugado/Movs grúa</td>
      </tr>
  <tr >
    <td  style='font-size: 50px;' id="ratiobalance">.</td>
  </tr>


  <tr>
    <td>M2 transportados  </td>
    </tr>
  <tr >
    <td  style='font-size: 50px;' id="ratiobalance2">.</td>
  </tr>

  <tr>
    <td>M2 a picado  </td>
    </tr>
  <tr >
    <td  style='font-size: 50px;' id="ratiobalance3">.</td>
  </tr>

</table>
</td>

</tr>

</table>

</div>



<div class="container">

<canvas id="myChart2"  style="width:1000px"></canvas>

</div>

<br>
<br>

<h3>Seguimiento Conversión</h3>


<div class="container">

<table>

<tr>

<td>
<canvas id="myChart4"  style="width:900px"></canvas>
</td>

<td>
  <table>


  <tr>
    <td style='font-size: 30px;'>Indicador 7 días</td>
    </tr>
    <tr>
      <td>

      </td>

    </tr>
    <tr>
      <td>Coversión/Movs grúa</td>
      </tr>
  <tr >
    <td  style='font-size: 50px;' id="ratiobalanceconv1">.</td>
  </tr>


  <tr>
    <td>M2 transportados  </td>
    </tr>
  <tr >
    <td  style='font-size: 50px;' id="ratiobalanceconv2">.</td>
  </tr>

  <tr>
    <td>M2 a picado  </td>
    </tr>
  <tr >
    <td  style='font-size: 50px;' id="ratiobalanceconv3">.</td>
  </tr>

</table>
</td>

</tr>

</table>

</div>



<div class="container">

<canvas id="myChart5"  style="width:1000px"></canvas>

</div>







<script type="text/javascript">






var endpoint='/api/get_data_movpallets/';



function datosinv(){

  console.log("iniciando ajax datos inv");
  var myTable = document.getElementById('myTable');

  $.ajax({
      method: "GET",
      url: endpoint,
      success: function(response_data){

      //datos0 = response_data.datos0; //aCÁ RECIBO UN ARRAY DE DATOS
      labels = response_data.labels;
      labels2 = response_data.labels2;


      //console.log(datos0["M2ZFFG1"].toFixed(2))

      //console.log(prueba['prueba1'][1])
      //console.log(prueba['prueba2']['B'])
      //console.log(m2total)
      //console.log(npalletstotal)
      console.log(labels2)

      var ratio = document.getElementById("ratiobalance");//.getElementsByTagName("td");
      var ratio2 = document.getElementById("ratiobalance2");//
      var ratio3 = document.getElementById("ratiobalance3");//


      var ratioconv1 = document.getElementById("ratiobalanceconv1");//.getElementsByTagName("td");
      var ratioconv2 = document.getElementById("ratiobalanceconv2");//
      var ratioconv3 = document.getElementById("ratiobalanceconv3");//
      //Aquí calculo el ratio ratiobalance

      sumconv=0
      sumcorr=0
      aux=0
      aux1=0
      suma=0
      sumapicado=0

      diastrabajados=0
      totcorrugado=0

      //Acá voy a hacer la ponderación de cada % de cumplimiento según el M2 corrugado cada día.

      for (var i = 0; i < labels.length-3; i++)
          {

            if (labels[i]["m2Corr"]>0)
            {
              diastrabajados+=1
              totcorrugado+=labels[i]["m2Corr"]

              suma+=(labels[i]["m2In"]+labels[i]["m2DirectoConv"]+labels[i]["m2CorrPicado"])
            }

          }

        aux=suma/totcorrugado

      ratio.innerHTML= String((aux*100).toFixed(1))+"%"


      ///////////

      sumconv=0
      sumcorr=0
      aux=0
      aux1=0
      sumapicado=0

      diastrabajados=0

      for (var i = 0; i < labels.length; i++)
          {

            sumcorr+=labels[i]["m2In"]+labels[i]["m2DirectoConv"]+labels[i]["m2CorrPicado"]
            sumapicado+=+labels[i]["m2CorrPicado"]

          }



      ratio2.innerHTML= String((sumcorr/1000).toFixed(0))+"Mm2"
      ratio3.innerHTML= String((sumapicado/1000).toFixed(0))+"Mm2"


      /////
      totconv=0
      suma=0
      sumapic=0
      for (var i = 0; i < labels.length-3; i++)
          {

            if (labels[i]["m2Conv"]>0)
            {
              diastrabajados+=1
              totconv+=Math.min(labels[i]["m2Conv"],350000)

              suma+=(labels[i]["m2EntregadoAConv"])
              sumapic+=(labels[i]["m2DeConvAPicado"])
            }

          }

        aux=suma/totconv

      ratioconv1.innerHTML= String((aux*100).toFixed(1))+"%"
      ratioconv2.innerHTML= String((suma/1000).toFixed(0))+"Mm2"
      ratioconv3.innerHTML= String((sumapic/1000).toFixed(0))+"Mm2"





      setChart1();
      setChart2();
      //setChart3();
      setChart4();
      setChart5();



      },
      error: function(error_data){
        console.log("error");
        console.log(error_data);
      }

    })
    //displayTabla();

}



/// PAra transformar los cambios en modo texto a un array y generar un form por cada línea.

datosinv()

window.setInterval(function(){
  console.log("hola");
  //datosinv();
}, 60000);



function setChart1(){

  //generando list de labels
  labelx=[]
  m2Inx=[]
  m2Outx=[]
  m2DirectoConvx=[]
  m2CorrPicadox=[]
  m2Convx=[]
  m2Corrx=[]

  for (var i = 0; i < labels.length; i++)
      {
        labelx.push(labels[i]["label"]);

        m2Inx.push((labels[i]["m2In"]/1000).toFixed(1));
        m2Outx.push((labels[i]["m2Out"]/-1000).toFixed(1));
        m2DirectoConvx.push((labels[i]["m2DirectoConv"]/1000).toFixed(1));
        m2CorrPicadox.push((labels[i]["m2CorrPicado"]/1000).toFixed(1));
        m2Convx.push((labels[i]["m2Conv"]/-1000).toFixed(1));
        m2Corrx.push((labels[i]["m2Corr"]/1000).toFixed(1));
      }

  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
            labels: labelx,
            datasets: [

            {

            label: "Mm2 Corrugados",
            data: m2Corrx,

            backgroundColor: "rgba(10,150,150)",
            stack: 'stack 0',
            borderWidth: 0,


            },{

                    label: "Enviados a bodega",
                    data: m2Inx,
                    borderColor: "rgba(0,42,255)",
                    backgroundColor: "rgba(0,42,255)",
                    stack: 'stack 1',
                    borderWidth: 0,


              },{

              label: "Enviados Directo a Conv",
              data: m2DirectoConvx,
              borderColor: "rgba(100,42,155)",
              backgroundColor: "rgba(100,42,155)",
              stack: 'stack 1',
              borderWidth: 0,


          }
          ,{

          label: "Enviados a Picado",
          data: m2CorrPicadox,
          borderColor: "rgba(150,100,155)",
          backgroundColor: "rgba(150,100,155)",
          stack: 'stack 1',
          borderWidth: 0,


        }]
      },
      options: {
          title:{
            display:true,
            responsive:true,
            hoverMode:true,
            text:"Producción Corrugado vs Movimientos Corrugado"
          },
          tooltips: {
    mode: 'label',

},
          scales: {
              xAxes: [{ stacked: true,
                barPercentage: 0.90,
                categoryPercentage: 0.8,
               }],
              yAxes: [{stacked: true,
                      barPercentage: 1.0,
                      categoryPercentage: 1.0,
                  ticks: {
                      autoSkip: false,
                      beginAtZero:true


                  }
              }]
          }
      }
  });

}



////////////////

function setChart2(){

  //generando list de labels
  labelx=[]
  opcorr1x=[]
  opcorr2x=[]
  opcorr3x=[]
  opcorr4x=[]
  opcorr5x=[]
  opcorr6x=[]
  opcorr7x=[]



  movscorrop1x=[]
  movscorrop2x=[]
  movscorrop3x=[]
  movscorrop4x=[]
  movscorrop5x=[]
  movscorrop6x=[]
  movscorrop7x=[]



  for (var i = 0; i < labels2.length; i++)
      {
        labelx.push(labels2[i]["label"])



        movscorrop1x.push((labels2[i]["movscorrop1"]).toFixed(1));
        movscorrop2x.push((labels2[i]["movscorrop2"]).toFixed(1));
        movscorrop3x.push((labels2[i]["movscorrop3"]).toFixed(1));
        movscorrop4x.push((labels2[i]["movscorrop4"]).toFixed(1));
        movscorrop5x.push((labels2[i]["movscorrop5"]).toFixed(1));
        movscorrop6x.push((labels2[i]["movscorrop6"]).toFixed(1));
        movscorrop7x.push((labels2[i]["movscorrop7"]).toFixed(1));

      }

  var ctx = document.getElementById("myChart2").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
            labels: labelx,
            datasets: [

            {
            label: labels2[0]["opcorr1"],
            data: movscorrop1x,
            borderColor: "rgba(50,100,250)",
            backgroundColor: "rgba(50,100,250)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opcorr2"],
            data: movscorrop2x,
            borderColor: "rgba(80,150,250)",
            backgroundColor: "rgba(80,150,250)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opcorr3"],
            data: movscorrop3x,

            backgroundColor: "rgba(200,100,0)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opcorr4"],
            data: movscorrop4x,

            backgroundColor: "rgba(200,190,100)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opcorr5"],
            data: movscorrop5x,

            backgroundColor: "rgba(100,200,150)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opcorr6"],
            data: movscorrop6x,

            backgroundColor: "rgba(150,200,100)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opcorr7"],
            data: movscorrop7x,
            backgroundColor: "rgba(150,60,150)",
            stack: 'stack 0',
            borderWidth: 0,
          }

            ]
      },
      options: {
        legend:{
          position:"right",

        },
          title:{
            display:true,
            responsive:true,
            hoverMode:true,
            text:"Movimientos desde stacker Corrugado"
          },
          tooltips: {
            mode: 'label',
            },
            scales: {
              xAxes: [{ stacked: true,
                barPercentage: 0.95,
                categoryPercentage: 0.9,
               }],
              yAxes: [{stacked: true,
                      barPercentage: 1.0,
                      categoryPercentage: 1.0,
                  ticks: {
                      autoSkip: false,
                      beginAtZero:true,
                      suggestedMin: 0,
                      suggestedMax: 10
                  }
              }]
          }
      }
  });

}


function setChart4(){

  //generando list de labels
  labelx=[]
  m2Inx=[]
  m2Outx=[]
  m2DirectoConvx=[]
  m2CorrPicadox=[]
  m2Convx=[]
  m2Corrx=[]
  m2EntregadoAConvx=[]

  for (var i = 0; i < labels.length; i++)
      {
        labelx.push(labels[i]["label"]);

        m2Inx.push((labels[i]["m2In"]/1000).toFixed(1));
        m2Outx.push((labels[i]["m2Out"]/-1000).toFixed(1));
        m2DirectoConvx.push((labels[i]["m2DirectoConv"]/1000).toFixed(1));
        m2CorrPicadox.push((labels[i]["m2CorrPicado"]/1000).toFixed(1));
        m2Convx.push(Math.min((labels[i]["m2Conv"]/1000),350).toFixed(1));
        m2Corrx.push((labels[i]["m2Corr"]/1000).toFixed(1));
        m2EntregadoAConvx.push((labels[i]["m2EntregadoAConv"]/1000).toFixed(1));
      }

  var ctx = document.getElementById("myChart4").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
            labels: labelx,
            datasets: [

            {

            label: "Mm2 Convertidos",
            data: m2Convx,

            backgroundColor: "rgba(10,150,150)",
            stack: 'stack 0',
            borderWidth: 0,


            },{

                    label: "Entregados a Conversión",
                    data: m2EntregadoAConvx,
                    borderColor: "rgba(0,42,255)",
                    backgroundColor: "rgba(0,42,255)",
                    stack: 'stack 1',
                    borderWidth: 0,


              }]
      },
      options: {
          title:{
            display:true,
            responsive:true,
            hoverMode:true,
            text:"Producción Corrugado vs Movimientos Corrugado"
          },
          tooltips: {
    mode: 'label',

},
          scales: {
              xAxes: [{ stacked: true,
                barPercentage: 0.90,
                categoryPercentage: 0.8,
               }],
              yAxes: [{stacked: true,
                      barPercentage: 1.0,
                      categoryPercentage: 1.0,
                  ticks: {
                      autoSkip: false,
                      beginAtZero:true


                  }
              }]
          }
      }
  });

}







function setChart5(){

  //generando list de labels
  labelx=[]
  opconv1x=[]
  opconv2x=[]
  opconv3x=[]
  opconv4x=[]
  opconv5x=[]
  opconv6x=[]
  opconv7x=[]
  opconv8x=[]
  opconv9x=[]
  opconv10x=[]



  movsconvop1x=[]
  movsconvop2x=[]
  movsconvop3x=[]
  movsconvop4x=[]
  movsconvop5x=[]
  movsconvop6x=[]
  movsconvop7x=[]
  movsconvop8x=[]
  movsconvop9x=[]
  movsconvop10x=[]



  for (var i = 0; i < labels2.length; i++)
      {
        labelx.push(labels2[i]["label"])



        movsconvop1x.push((labels2[i]["movsconvop1"]).toFixed(1));
        movsconvop2x.push((labels2[i]["movsconvop2"]).toFixed(1));
        movsconvop3x.push((labels2[i]["movsconvop3"]).toFixed(1));
        movsconvop4x.push((labels2[i]["movsconvop4"]).toFixed(1));
        movsconvop5x.push((labels2[i]["movsconvop5"]).toFixed(1));
        movsconvop6x.push((labels2[i]["movsconvop6"]).toFixed(1));
        movsconvop7x.push((labels2[i]["movsconvop7"]).toFixed(1));
        movsconvop8x.push((labels2[i]["movsconvop8"]).toFixed(1));
        movsconvop9x.push((labels2[i]["movsconvop9"]).toFixed(1));
        movsconvop10x.push((labels2[i]["movsconvop10"]).toFixed(1));

      }

  var ctx = document.getElementById("myChart5").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
            labels: labelx,
            datasets: [

            {
            label: labels2[0]["opconv1"],
            data: movsconvop1x,
            borderColor: "rgba(50,100,250)",
            backgroundColor: "rgba(50,100,250)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opconv2"],
            data: movsconvop2x,
            borderColor: "rgba(80,150,250)",
            backgroundColor: "rgba(80,150,250)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opconv3"],
            data: movsconvop3x,

            backgroundColor: "rgba(200,100,0)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opconv4"],
            data: movsconvop4x,

            backgroundColor: "rgba(200,190,100)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opconv5"],
            data: movsconvop5x,

            backgroundColor: "rgba(100,200,150)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opconv6"],
            data: movsconvop6x,

            backgroundColor: "rgba(150,200,100)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opconv7"],
            data: movsconvop7x,
            backgroundColor: "rgba(150,60,150)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opconv8"],
            data: movsconvop8x,
            backgroundColor: "rgba(50,43,120)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opconv9"],
            data: movsconvop9x,
            backgroundColor: "rgba(34,233,10)",
            stack: 'stack 0',
            borderWidth: 0,
          }
          ,
          {
            label: labels2[0]["opconv10"],
            data: movsconvop10x,
            backgroundColor: "rgba(233,0,150)",
            stack: 'stack 0',
            borderWidth: 0,
          }

            ]
      },
      options: {
        legend:{
          position:"right",

        },
          title:{
            display:true,
            responsive:true,
            hoverMode:true,
            text:"Movimientos Conversión"
          },
          tooltips: {
            mode: 'label',
            },
            scales: {
              xAxes: [{ stacked: true,
                barPercentage: 0.95,
                categoryPercentage: 0.9,
               }],
              yAxes: [{stacked: true,
                      barPercentage: 1.0,
                      categoryPercentage: 1.0,
                  ticks: {
                      autoSkip: false,
                      beginAtZero:true,
                      suggestedMin: 0,
                      suggestedMax: 10
                  }
              }]
          }
      }
  });

}



///////////////
/*
function setChart3(){

  //generando list de labels
  labelx=[]
  movscorr2=[]



  for (var i = 0; i < labels2.length; i++)
      {
        labelx.push(labels2[i]["label"]);

        movscorr2.push((labels2[i]["movscorr2"]).toFixed(1));

      }

  var ctx = document.getElementById("myChart3").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
            labels: labelx,
            datasets: [

            {

            label: "Movimientos salida Stacker Inferior",
            data: movscorr2,
            borderColor: "rgba(100,100,150)",
            backgroundColor: "rgba(100,100,150)",
            stack: 'stack 0',
            borderWidth: 0,


            }]
      },
      options: {
          title:{
            display:true,
            responsive:true,
            hoverMode:true,
            text:"Movimiento Pallets"
          },
          tooltips: {
    mode: 'label',

},
          scales: {
              xAxes: [{ stacked: true,
                barPercentage: 0.95,
                categoryPercentage: 0.5,
               }],
              yAxes: [{stacked: true,
                      barPercentage: 1.0,
                      categoryPercentage: 1.0,
                  ticks: {
                      autoSkip: false,
                      beginAtZero:true,
                      suggestedMin: 0,
                      suggestedMax: 10
                  }
              }]
          }
      }
  });

}
*/

////////////////////////

/*

function setChart4(){

  //generando list de labels
  labelx=[]
  movsconv1=[]



  for (var i = 0; i < labels2.length; i++)
      {
        labelx.push(labels2[i]["label"]);

        movsconv1.push((labels2[i]["movsconv1"]).toFixed(1));

      }

  var ctx = document.getElementById("myChart4").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
            labels: labelx,
            datasets: [

            {

            label: "Movimientos entrada a Conversión (TCY, HCR, WRD)",
            data: movsconv1,
            borderColor: "rgba(100,100,150)",
            backgroundColor: "rgba(100,100,150)",
            stack: 'stack 0',
            borderWidth: 0,


            }]
      },
      options: {
          title:{
            display:true,
            responsive:true,
            hoverMode:true,
            text:"Movimiento Pallets"
          },
          tooltips: {
    mode: 'label',

},
          scales: {
              xAxes: [{ stacked: true,
                barPercentage: 0.95,
                categoryPercentage: 0.5,
               }],
              yAxes: [{stacked: true,
                      barPercentage: 1.0,
                      categoryPercentage: 1.0,
                  ticks: {
                      autoSkip: false,
                      beginAtZero:true,
                      suggestedMin: 0,
                      suggestedMax: 10
                  }
              }]
          }
      }
  });

}



*/


/////////////////////////////////////////

/*
function setChart5(){

  //generando list de labels
  labelx=[]
  movsconv2=[]



  for (var i = 0; i < labels2.length; i++)
      {
        labelx.push(labels2[i]["label"]);

        movsconv2.push((labels2[i]["movsconv2"]).toFixed(1));

      }

  var ctx = document.getElementById("myChart5").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
            labels: labelx,
            datasets: [

            {

            label: "Movimientos entrada a Conversión (FFW, DRO, FFG)",
            data: movsconv2,
            borderColor: "rgba(100,100,150)",
            backgroundColor: "rgba(100,100,150)",
            stack: 'stack 0',
            borderWidth: 0,


            }]
      },
      options: {
          title:{
            display:true,
            responsive:true,
            hoverMode:true,
            text:"Movimiento Pallets"
          },
          tooltips: {
    mode: 'label',

},
          scales: {
              xAxes: [{ stacked: true,
                barPercentage: 0.95,
                categoryPercentage: 0.5,
               }],
              yAxes: [{stacked: true,
                      barPercentage: 1.0,
                      categoryPercentage: 1.0,
                  ticks: {
                      autoSkip: false,
                      beginAtZero:true,
                      suggestedMin: 0,
                      suggestedMax: 10
                  }
              }]
          }
      }
  });

}

*/



</script>

{% endblock %}
