{% extends "blog/base.html" %}

{% block content %}
<h3>Mov Pallets</h3>

<div class="container">



<canvas id="myChart"  style="width:1000px"></canvas>



</div>

<script type="text/javascript">




var endpoint='/api/get_data_movpallets/';



function datosinv(){

  console.log("iniciando ajax datos inv");
  var myTable = document.getElementById('myTable');

  $.ajax({
      method: "GET",
      url: endpoint,
      success: function(response_data){

      //datos0 = response_data.datos0; //aCÁ RECIBO UN ARRAY DE DATOS
      labels = response_data.labels;


      //console.log(datos0["M2ZFFG1"].toFixed(2))

      //console.log(prueba['prueba1'][1])
      //console.log(prueba['prueba2']['B'])
      //console.log(m2total)
      //console.log(npalletstotal)
      console.log(labels)

      setChart1();



      },
      error: function(error_data){
        console.log("error");
        console.log(error_data);
      }

    })
    //displayTabla();

}



/// PAra transformar los cambios en modo texto a un array y generar un form por cada línea.

datosinv()

window.setInterval(function(){
  console.log("hola");
  datosinv();
}, 60000);



function setChart1(){

  //generando list de labels
  labelx=[]
  m2Inx=[]
  m2Outx=[]
  m2Prodx=[]
  m2Convx=[]
  m2Corrx=[]

  for (var i = 0; i < labels.length; i++)
      {
        labelx.push(labels[i]["label"]);

        m2Inx.push((labels[i]["m2In"]/1000).toFixed(1));
        m2Outx.push((labels[i]["m2Out"]/-1000).toFixed(1));
        m2Prodx.push((labels[i]["m2Prod"]/1000).toFixed(1));
        m2Convx.push((labels[i]["m2Conv"]/-1000).toFixed(1));
        m2Corrx.push((labels[i]["m2Corr"]/1000).toFixed(1));
      }

  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
            labels: labelx,
            datasets: [

            {

            label: "Mm2 Corrugados",
            data: m2Corrx,
            borderColor: "rgba(100,100,150)",
            backgroundColor: "rgba(100,100,150)",
            stack: 'stack 0',
            borderWidth: 0,


            },

            {

            label: "Mm2 Convertidos",
            data: m2Convx,
            borderColor: "rgba(100,100,150)",
            backgroundColor: "rgba(100,100,150)",
            stack: 'stack 0',
            borderWidth: 0,


            },{

                    label: "Mm2 Ingreso a bodega",
                    data: m2Inx,
                    borderColor: "rgba(0,42,255)",
                    backgroundColor: "rgba(0,42,255)",
                    stack: 'stack 1',
                    borderWidth: 0,


              },{

              label: "Mm2 Producidos sin ingreso",
              data: m2Prodx,
              borderColor: "rgba(100,42,155)",
              backgroundColor: "rgba(100,42,155)",
              stack: 'stack 1',
              borderWidth: 0,


          },
            {
              label: "Mm2 Salida de bodega",
              data: m2Outx,
              borderColor: "rgba(0,200,155)",
              backgroundColor: "rgba(0,200,155)",
              stack: 'stack 1',
              borderWidth: 0,


          }]
      },
      options: {
          title:{
            display:true,
            responsive:true,
            hoverMode:true,
            text:"Movimiento Pallets"
          },
          tooltips: {
    mode: 'label',

},
          scales: {
              xAxes: [{ stacked: true,
                barPercentage: 0.95,
                categoryPercentage: 0.5,
               }],
              yAxes: [{stacked: true,
                      barPercentage: 1.0,
                      categoryPercentage: 1.0,
                  ticks: {
                      autoSkip: false,
                      beginAtZero:true
                  }
              }]
          }
      }
  });

}












</script>

{% endblock %}
