{% extends "blog/base.html" %}
{% load qr_code %}
{% block content %}
<h2>Ingresar datos transportista</h2>

{% if camiones %}
  <table>

    {% for transportista in transportistas %}
      <tr>

      <td>
        <h5>{{transportista}}</h5>
      </td>
      <td>
            {% for camion in camiones %}
            {% if camion.Transportista == transportista %}
            <a style="text-align: center;" href="{% url 'camion_detail' pk=camion.pk %}" >{{camion.Patente}}</a>
            <br>
            {% endif %}
            {% endfor %}

      </td>


    </tr>
  {% endfor %}
  </table>


{% endif %}

{% endblock %}
