{% extends "blog/base.html" %}

{% block content %}


<div class="container" style="padding:10px 10px;">
<table class='table table-hover' id='table'>

<tr style="text-align: center">
  <td  colspan="5"><h3>{{ubic.calle}}</h3></td>
</tr>
<tr style="text-align: center">
  <td >N° pallet</td>
  <td >Cliente</td>
  <td >Padrón</td>
  <td >Unidades</td>
  <td >m2</td>
  <td >Fecha Creación</td>
</tr>
{% for pallet in pallets %}

<tr style="text-align: center">
  <td>{{pallet.tarja}}</td>
  <td>{{pallet.cliente}}</td>
  <td>{{pallet.padron}}</td>
  <td>{{pallet.unidades}}</td>
  <td>{{pallet.m2pallet}}</td>
  <td>{{pallet.fechacreac}}</td>
</tr>


{% endfor %}



</table>


</div>

<script type="text/javascript">

updatecuadros()

function updatecuadros()
  {

      var myTable = document.getElementById("table");//.getElementsByTagName("td");

      for (i=2;i<6;i++)
      {

        if (1)
        {myTable.rows[i].cells[4].style.color = "Crimson"}


      }
  }





</script>


{% endblock %}
